body
{
	font-family: tahoma;
	color:teal;
	background-color: silver;
	margin-left: 200px;
	margin-right: 200px;
}

header, footer
{
	text-align: center;
	color: darkslategrey;
	font-weight: bold;
}

h1, h2, h3
{
	color: darkslategrey;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

a
{
	text-decoration: none;
	color: slateblue;
	font-weight: bold;
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
	font-weight: bold;
}

.divider
{
	text-align: center;
	font-weight: bold;
	background: red;
}

.category
{
	font-weight: bold;
	color: darkslategray;
}

.coursename
{
	font-style: italic;
}

nav
{
	color: blueviolet;
	text-align: center;
}

